{% extends 'base.html' %}
{% comment %} 
{% block title %}Contact{% endblock title %} {% endcomment %}
{% block body %}
<form class="conainer" method="post" action="/about"> 
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="prachi">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="Number" class="form-control" id="phone" name="phone" placeholder="99999999">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>
      <label for="exampleDataList" class="form-label">Technologies</label>
<input class="form-control" list="datalistOptions" id="exampleDataList" name="tech" placeholder="Type to search...">
<datalist id="datalistOptions">
  <option value="San Francisco">
  <option value="New York">
  <option value="Seattle">
  <option value="Los Angeles">
  <option value="Chicago">
</datalist>
<button type="button" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}